@import 'reset';
@import 'variables';


body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px){
body{
    flex-direction: row;
}
}


// logo
.logo {
    display: flex;
    flex-direction: row;
    .logo-link {
    text-decoration: none;
    color: $black-color; 
    font-weight: 600;
        .logo-text {
        display: flex;
        flex-direction: row;
        align-items: last baseline;
        padding-left: 11px;
            span {
            color: $small-text-color;
            font-weight: 500;
            font-size: 10px;
            }
        }
    }
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: last baseline;
  padding: 10px;
    .nav-list {
    border-radius: 5px;
    border: none;
        select {
            border: none;
            option {
            font-weight: 500;
            }
        }
    }
}

// aside-section
.aside {
    width: 306px;
    height: 100dvh;
    .logo {
        padding-top: 36px;
        padding-left: 26px;
        font-size: 26px;
        font-weight: 600;
    }
}

// aside-main
main {
    margin-top: 40px;
    .nav {
        color: $aside-font-color;
        .navigate-element{
            width: 100%;
            padding: 8px 28px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &:hover {
                background-color: $hover-color;
                color:$background-table;
                img{
                    stroke: white;
                    fill: white;
                    filter: invert(60%) sepia(0%) saturate(175%) hue-rotate(100deg) brightness(200%) contrast(100%);
                }  
            }
            .main-elements {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .navigate-icons {
                margin: 12px;
            }
            .navigate-arrow{
                margin-right: 9px;
            }
        }        
    }
}

// aside footer
.user-block {
    position: absolute;
    bottom: 76px;
    left: 28px;
    display: flex;
    flex-direction: row;
    .userInfo {
        padding: 2px;
        p:first-child {
            font-weight: 500;
        }
        p:last-child {
            font-weight: 12px;
            color: $light-gray;
        }
    }
}

.main-section {
    background-color: $background-main-section;
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .greeting {
        font-weight: 500;
        font-size: 24px;
        padding: 41px 0 51px 71px;
        align-self: flex-start;
    }
    .table {
        background-color: $background-table;
        border-radius: 30px;
        width: 90%;
        padding: 28px 38px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 2vw;
        line-height: 1.5;
        table {
            border-collapse: collapse;
            min-width: 100%;
            width: auto;
            letter-spacing: -0.4px;
            display: grid;
            position: relative;
            top: 16px;
            grid-template-columns: 
                minmax(100px, 1.6fr)
                minmax(100px, 1.2fr)
                minmax(100px, 1.4fr)
                minmax(100px, 1.9fr)
                minmax(100px, 1.1fr)
                minmax(100px, 1fr)    
        }
            thead, tbody,tr {
                display: contents;
            }
                       td {
                padding: 20px 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                letter-spacing: -0.14px;
                box-sizing: border-box;
            }
        .table-caption {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: last baseline;
            .caption-text {
                align-items: flex-start;
                color: $black-color;
                font-size: 22px;
                font-weight: 600;
                letter-spacing: -0.22px;
                span {
                 color: $green-text-color;
                 font-size: 14px;
                 font-weight: 400;   
                 letter-spacing: -0.14px;
                }
        }
            .search-item {
                border: 1px solid $search-font-color;
                border-radius: 10px;
                height: 38px;
                width: 216px;
                display: inline-block;
                font-size: 12px;
                position: relative;
                right: 18px;
                top: -6px;
                background-color: $search-background-color;
                input {
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    color: $search-font-color;
                    width: calc(100% - 40px);
                    height: 100%;
                    background-color: $search-background-color;
                    position: absolute;
                    right: 0;
                }
                img {
                    position: absolute;
                    padding: 7px 8px;
                    top: 0;
                    left: 0;
                }      
            }
        }  
        thead {
            color: $search-font-color;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.14px;
            width: 100%;
                &::after {
                content: '';
                position: absolute;
                top: 56px;
                left: -38px;
                width: calc(100% + 82px);
                height: 1px;
                background-color: $background-main-section;
                }
        } 
        tbody {
            color: $table-font-color;
            font-size: 14px;
            font-weight: 500;
            tr {
                width: 100%;
                height: 69px;
            }
            td{
                border-bottom: 1px solid $background-main-section;
            }
            .btn {
                height: 29px;
                width: 80px;
                border-radius: 4px;
                &.active {
                    background-color: $button-green-background-color;
                    color: $button-green-text-color;
                    border: 1px solid $button-green-border-color;
                }
                &.inactive {
                    background-color: $button-red-background-color;
                    color: $button-red-text-color;
                    border: 1px solid $button-red-text-color;
                }
            }
        }
    }
    .table-footer{
        height: 61px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        p {
            font-size: 14px;
            font-weight: 500;
            color:$search-font-color;
            letter-spacing: -0.14px;
        }
        .buttons {
            width: 271px;
            display: flex;
            position: relative; 
            .buttons-wrapper {
                width: 195px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                flex-shrink: 0;
                .buttons-container {
                display: inline;
                width: 195px;
            }         
               } 
            }            
            .footer-buttons{
                background-color: $footer-button-bcc;
                color: $footer-button-color;
                border: 1px solid $background-main-section;
                height: 24px;
                width: 26px;
                text-align: center;
                flex-shrink: 0;
                display: inline-block;
                margin-right: 10px;
                border-radius: 4px;
                    &:hover {
                    background-color: $hover-color;
                    color: $background-table;
                    a {
                        color: $background-table;
                    }
                    }
                a {
                    text-decoration: none;
                    color: $footer-button-color;
                }
            }
        }
  
    }

