$table-font-color: #292d32;
$aside-font-color: #9197b3;
$background-main-section: #eee;
$search-font-color: #b5b7c0;
$background-table: #fff;
$black-color: #000000;
$footer-button-color: #404b52;
$button-red-text-color: #df0404;
$footer-button-bcc: #f5f5f5;
$button-green-text-color: #008767;
$button-green-border-color: #00b087;
$green-text-color: #16c098;
$hover-color: #5932ea;
$button-red-background-color: #ffc5c5;
$search-border-color: #7e7e7e;
$button-green-background-color: rgba(22,192,152,0.38);
$light-gray: #757575;
$small-text-color: #838383;
$search-background-color: #f9fbff;

